<div class="container">
    <form #autForm="ngForm" (ngSubmit)="onEnviar()"> 
    <!-- form #cat="ngForm" (ngSubmit)="onTestPost(cat.value)" -->      
        <div class="card">
             <div class="card-header">
                  <h4>{{ titulo }}</h4>
             </div>
 
         <div class="card-body">
             <label for="Codigo" >Código</label>
             <input type="text" id="Codigo" ngModel name="codigo" required />         
         </div>         
         
        <div class="card-body">
             <label for="Categorias">Nome</label>
             <input type="text" id="Nome" ngModel name="nome" />
        </div>      
       
        <div class="card-body">
            <label for="descricao">Data de Nascimento</label>
            <input type="text" id="descricao" ngModel name="dt_nascimento" />
        </div>
        <div class="card-body">
            <label for="nacionalidade">Nacionalidade</label>
            <input type="text" id="nacionalidade" ngModel name="nacionalidade" />
        </div>

    </div>
          <br />
          <button type="submit" class="btn btn-primary">Enviar</button>
       
    </form>  
 
</div>